{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/style.css"/>
<header class="header" style="background-image: url('../static/images/bg_magazine.jpg')">
<div>
  <h3 class="light-text">Dodawanie eksponatu</h3>
  <div>
    {% with msgs = get_flashed_messages() %}
      {% if msgs %}
        <div class="light-text" style="color: red">
          {% for msg in msgs %}
            {{ msg }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
  <h6 class="light-text">*pola obowiazkowe</h6><br>
  <div>
    <form method="POST" action="{{ url_for('main.new_exhibit') }}">
      <div class="form-group">
        <label class="light-text" for="title">Tytul *</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Podaj tytul"
          required
        />
      </div>
      <div class="form-group">
        <label class="light-text" for="etype">Typ *</label>
        <input
          type="text"
          class="form-control"
          id="etype"
          name="etype"
          placeholder="Podaj typ"
          required
        />
      </div>
      <div class="form-group">
        <label class="light-text" for="height">Wysokosc *</label>
        <input
          type="number"
          min="1"
          class="form-control"
          id="height"
          name="height"
          placeholder="Podaj wysokosc"
          required
        />
      </div>
      <div class="form-group">
        <label class="light-text" for="width">Szerokosc *</label>
        <input
          type="number"
          min="1"
          class="form-control"
          id="width"
          name="width"
          placeholder="Podaj szerokosc"
          required
        />
      </div>
      <div class="form-group">
        <label class="light-text">Autor</label><br>
        {{ form.csrf_token }}
        {{ form.authors }}
      </div>
      <div class="form-group">
        <label class="light-text">Galeria</label><br>
        {{ form.csrf_token }}
        {{ form.galleries }}
      </div>
      <button type="submit" class="btn btn-secondary">Dodaj</button>
    </form>
  </div>
</div>
{% endblock %}
